{% extends "layout/base.html" %}

{% block 'title'%} Asambleas {% endblock %}

{% block search %}
    <form class="d-flex" role="search" action="" method='GET'>
        <input class="form-control me-2" type="search" name="search" placeholder="Nombre del Sindicato" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form>
{% endblock search %}


{% block breadcrumb %}
    <div class="container p-1 d-flex">
        <li class="breadcrumb-item"><a class="text-secondary"href="{% url "asambleas" %}">Asambleas</a></li>
    <div>
{% endblock  %}

{% block 'content' %}
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">sindicato</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cantidad de trabajadores</th>
            <th scope="col">cantidad de acuerdos</td>
            <th scope="col">Imagen del acta</td>
        </tr>
    </thead>
    <tbody>
        {% for asamblea in asambleas %}
            <tr>
                <td>{{ asamblea.sindicato }}</td>
                <td>{{ asamblea.fecha }}</td>
                <td>{{ asamblea.cantidad_trabajadores }}</td>
                <td>{{ asamblea.cantidad_acuerdos }}</td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm btn-login" data-bs-toggle="modal" data-bs-target="#exampleModal{{ asamblea.id }}1">
                        Imagen <i class="bi bi-image"></i>
                    </button>
                    <div class="modal fade" id="exampleModal{{ asamblea.id }}1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ asamblea.imagen.url }}" class="img-fluid" alt="Imagen">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock %}