{% extends "layout/base.html" %}

{% block 'title'%} Detalles del trabajador {% endblock %}


{% block breadcrumb %}
    <div class="container p-1 d-flex">
        <li class="breadcrumb-item"><a class="text-secondary"href="{% url "sindicato" %}">Sindicato</a></li>
        <li class="breadcrumb-item"><a class="text-secondary"href="">Datos del Sindicato</a></li>
        <li class="breadcrumb-item"><a class="text-secondary"href="">Trabajador</a></li>
    <div>
{% endblock  %}


{% block 'content' %}
    
{% endblock %}