{% extends "layout/base.html" %}

{% block 'title'%} Home {% endblock %}

{% block search %}
    <form class="d-flex" role="search" action="" method='GET'>
        <input class="form-control me-2" type="search" name="search" placeholder="Nombre del Sindicato" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form>
{% endblock search %}

{% block breadcrumb %}
    
{% endblock  %}


{% block 'content' %}
    <div class="container text-center pt-5">
        <p class="fs-5">El Sindicato Nacional de Energía y Minas, conocido anteriormente como el Sindicato Nacional de las Industrias, Química, la Minería y la Energética, fue fundado el día 3 de febrero de 1981, a partir de la necesidad de los trabajadores cubanos de unificarse en la defensa de sus intereses y bajo el principio de organización ramal. A él se subordinan los burós provinciales, a los cuales a su vez se le subordinan los burós municipales y extraterritoriales.</p>
        <p class="fs-5">El Sindicato Nacional de Energía y Minas cuenta con alrededor de 91  mil afiliados, agrupados en secciones sindicales. En la provincia de Pinar de Rio se cuenta con 4119 afiliados, de ellos 69 no estatales y 235 jubilados, 112  secciones sindicales, 7 burós de centros de trabajo y 2  buós extraterritoriales.</p>
        <p class="fs-5">El Buró Extraterritorial de la Empresa Eléctrica de Pinar del Río se crea una vez fundada dicha institución el 23 de febrero de 2001, a través de la resolución No.70 dictada por quien fuera Ministro de la Industria Básica, subordinada a la Unión Eléctrica perteneciente al actual Ministerio de Energía y Minas, con el Objetivo de agrupar y organizar a los  trabajadores, educarlos, prepararlos, representarlos y movilizaros en el cumplimiento de la actividad laboral y  social  del país y además de defenderlos  ante  el  estado, la sociedad y los empleadores en una relación constructiva y exigente por ambas partes.</p>
        <p class="fs-5">El Buró Extraterritorial está integrado por un total de 1571 trabajadores distribuidos 32  secciones sindicales y 10 delegados, pertenecientes a las Unidades Empresariales de Base UEB subordinados a las empresas que se encuentran distribuidas en 11 municipios de la provincia Pinar del Río.</p>
    </div>
{% endblock %}