{% extends "layout/base.html" %}

{% block 'title'%} Home {% endblock %}

{% block search %}
    <form class="d-flex" role="search" action="" method='GET'>
        <input class="form-control me-2" type="search" name="search" placeholder="Nombre del Sindicato" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form>
{% endblock search %}

{% block breadcrumb %}
    
{% endblock  %}


{% block 'content' %}
    <div class="container text-center pt-5">
        {% lorem 3 p random %}
    </div>
{% endblock %}