{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Compañía de Diseño Web">
    <meta name="keywords" content="Diseño web, pagina web, crear sitio web, una web">
    <meta name="copyright" content="T3D Design Company">
    <meta name="author" content="David A. Chentes">
    <meta name="audience" content="all">
    <meta name="description" content="Empresa de desarrollo y tecnologías web, una buena opción para todo el interesado en su presencia en línea">
    <meta name="robots" content="index, all, follow">
    <meta name="category" content="Diseño Web">  
    <meta name="telephone" content="+1 224 288 1535">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="" type="image/png" sizes="16x16">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/forms.css" %}">
</head>

<body class="prueba d-flex justify-content-center align-items-center" id="page-top">
    

    
    <div class="d-flex justify-content-center align-items-center">
        <form  class="p-5 rounded-3 text-light sombra-login" actions="{% url "login" %}" method="POST">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-primary alerta text-center" role="alert"{% endif %}>{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            <h3 class="text-center mt-0 mb-4 text-login">GISEP</h3>
            {{form.as_p}}
        
            <input class="btn btn-login" type="submit" value="Submit">
        </form>
    </div>
    
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>